body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  
  .regis-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  loginbutton[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }